.chicago {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 100px;
  padding-bottom: 100px;
  min-height: 450px;
}

.chicago-images {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  height: 100%;
}

.chicago-images img {
  width: 300px;
  height: 350px;
  object-fit: cover;
  position: absolute;
}

.chicago-images img:nth-child(1) {
  top: 0px;
  right: 0px;
  z-index: 2;
}
.chicago-images img:nth-child(2) {
  top: 100px;
  right: 30%;
  z-index: 1;
}

.chicago-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-right: 50px;
}

.chicago-details .chicago-title {
  color: #495e57;
}
.chicago-details .chicago-subtitle {
  color: #1e1e1e;
  margin-top: 10px;
}

.chicago-details .chicago-description {
  line-height: 1.5;
  margin-top: 30px;
  color: #1e1e1e;
}

@media (max-width: 992px) {
  .chicago {
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    min-height: auto;
  }

  .chicago-images {
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .chicago-images img {
    width: 100%;
    height: 300px;
    object-position: top;
  }

  .chicago-images img:nth-child(1) {
    top: auto;
    right: auto;
    left: auto;
    position: relative;
    margin-right: -10%;
  }
  .chicago-images img:nth-child(2) {
    top: 100px;
    right: auto;
    z-index: 3;
    margin-right: 10%;
  }

  .chicago-details {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
    margin-top: 150px;
  }

  .chicago-details > * {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .chicago {
    margin-top: 90px;
  }

  .chicago-details {
    margin-top: 130px;
  }

  .chicago .chicago-description {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 20px;
  }
}
