.chicago {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 100px;
  padding-bottom: 100px;
  min-height: 450px;
}

.chicago-images {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  height: 100%;
}

.chicago-images img {
  width: 300px;
  height: 350px;
  object-fit: cover;
  position: absolute;
}

.chicago-images img:nth-child(1) {
  top: 0px;
  right: 0px;
  z-index: 2;
}
.chicago-images img:nth-child(2) {
  top: 100px;
  right: 200px;
  z-index: 1;
}

.chicago-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-right: 50px;
}

.chicago-details .chicago-title {
  color: #495e57;
}
.chicago-details .chicago-subtitle {
  color: #1e1e1e;
  margin-top: 10px;
}

.chicago-details .chicago-description {
  line-height: 1.5;
  margin-top: 30px;
  color: #1e1e1e;
}
