.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  padding: 70px 0px;
  color: #edefee;
}

.footer-logo {
  border-radius: 0px;
  max-width: 100px;
}

.footer .footer-title {
  margin-bottom: 25px;
  font-weight: bold;
}

.footer-item {
  margin: 10px 0px;
}

.footer-item a {
  color: #edefee;
  transition: color 0.3s;
}

.footer-item a:hover {
  color: #f4ce14;
}

@media (max-width: 992px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .footer-container {
    border-top: 1px solid #edefee85;
    padding: 40px 0px;
  }

  .footer-container:first-child {
    padding-top: 0px;
    border-top: none;
  }
  .footer-container:last-child {
    padding-bottom: 0px;
    border-bottom: none;
  }

  .footer-item {
    margin: 15px 0px;
  }
}
