/* App.css */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

header,
footer {
  color: white;
  padding: 20px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Card */
.card {
  background-color: #edefee;
  padding: 15px;
  border-radius: 8px;
}
