h1 {
  font-size: 64px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p,
span {
  font-size: 16px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}
