* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
  box-shadow: none;
  list-style-type: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  font-size: 64px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  font-weight: 100;
}

h5 {
  font-size: 18px;
  font-weight: 100;
}

h6 {
  font-size: 16px;
  font-weight: 100;
}

p,
span {
  font-size: 16px;
}

a {
  text-decoration: none;
}

img,
button {
  border-radius: 16px;
}

button {
  background: #f4ce14;
  color: #333333;
  font-size: 16px;
  padding: 15px 20px;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  opacity: 0.9;
  box-shadow: 0px 0px 0px 0px #0000003b;
}

.full-green {
  background-color: #495e57;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-7 {
  margin-top: 70px;
}

.mt-10 {
  margin-top: 100px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
    font-weight: 100;
  }

  .mt-10 {
    margin-top: 90px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 16px;
  }

  button {
    padding: 12px 15px;
  }
}
