.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #1e1e1e;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s;
}

.nav-link:hover {
  color: #495e57;
}
